{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'main/images/icons/LAVIB-PA.svg' %}" type="image/x-icon">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/styles/css/style.css' %}">
  <meta http-equiv="pragma" content="no-cache">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
    defer></script>
  <script src="{% static 'main/scripts/animations.js' %}" defer></script>
  <script src="{% static 'main/scripts/vanilla-tilt.min.js' %}" defer></script>
  
  {% block metatags %}{% endblock %}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static 'main/images/icons/LAVIB-PA.svg' %}" class="me-2"
            style="width: 50px;"><b>LAVIB-PA</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% with request.resolver_match.url_name as url_name %}
            <li class="nav-item me-3">
              <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'main:index' %}">Início</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link {% if url_name == 'sobre' %}active{% endif %}" href="{% url 'main:sobre' %}">Sobre nós</a>
            </li>
            <li class="nav-item {% if url_name == 'eventos' %}active{% endif %} dropdown me-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Eventos
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'main:eventos' %}">Nossos Eventos</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'main:suas_inscricoes' %}">Suas Inscrições</a>
                </li>
              </ul>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link {% if url_name == 'sobre' %}active{% endif %}" href="{% url 'main:patrocinadores' %}">Parcerias</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link {% if url_name == 'blog' %}active{% endif %}" href="{% url 'blog:index' %}">Blog</a>
            </li>
            {% endwith %}
            {% if user.is_staff %}     
            <li class="nav-item">
              <a class="nav-link" href="/admin">Administração</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="background">
    <div class="container">
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>

    <footer
      class="footer container-fluid navbar-fixed-bottom d-flex flex-column flex-md-row justify-content-around p-2 p-md-5 pt-5">
      <section class="contato d-flex align-items-center justify-content-center text-center mb-4 mb-md-0">
        <div>
          <h4 class="d-flex align-items-center justify-content-center justify-content-md-between">
            Contato<img class="tech-icon invert-color ms-3" src="{% static '/main/images/icons/envelope-at.svg' %}"
              alt="Ícone de envelope com @" />
          </h4>

          <address>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-white border-0 bg-transparent">  
                <p class="mb-0 text-start">
                  E-mail:
                  <a href="mailto:{{ settings.email }}" class="text-reset d-inline d-md-none d-lg-inline text-break">{{ settings.email }}</a>
                </p>
              </li>
              <li class="list-group-item text-white border-0 bg-transparent">  
                <p class="mb-0 text-start">
                  Telefone:
                  <a href="tel:{{ settings.telefone }}" class="text-reset d-inline d-md-none d-lg-inline text-break">{{ settings.telefone }}</a>
                </p>
              </li>
            </ul>
          </address>
        </div>
      </section>
      <hr class="d-inline d-md-none">
      <div class="vertical-line d-none d-md-block mx-2"></div>
      <section class="sponsors d-flex align-items-center justify-content-center text-center mb-4 mb-md-0">
        <div>
          <a href="{% url 'main:patrocinadores' %}" style="text-decoration: none;">
            <h4 class="d-flex align-items-center justify-content-center justify-content-md-between">
              Nossos patrocinadores<img class="tech-icon invert-color ms-3"
                src="{% static '/main/images/icons/info-circle-fill.svg' %}"
                alt="Ícone de informações: letra i dentro de um círculo" />
            </h4>
          </a> 
          <div class="d-flex align-items-center justify-content-center flex-wrap">
            {% for patrocinador in patrocinadores %}
            <a href="{{ patrocinador.link }}" class="sponsor-img-block d-md-flex flex-column align-items-center font-monospace me-3" target="_blank" style="text-decoration: none;">
              <img class="sponsor-img" src="{{ patrocinador.imagem.url }}"
                alt="Logomarca de {{ patrocinador.nome }}" />
              <small>{{ patrocinador.nome }}</small>
            </a>
            {% endfor %}
          </div>
        </div>   
      </section>
      <hr class="d-inline d-md-none">
      <div class="vertical-line d-none d-md-block mx-2"></div>
      <section class="d-flex align-items-center justify-content-center mb-4 mb-md-0" id="repository">
        <div class=" text-center">
          <h4 class="d-flex align-items-center justify-content-center justify-content-md-between">
            Repositório<img class="tech-icon invert-color ms-3" src="{% static '/main/images/icons/github.svg' %}"
              alt="Ícone do GitHub" />
          </h4>
          <a class="text-reset fw-bold" href="https://github.com/leon-rdo/LAVIB-PA">LAVIB-PA</a>
        </div>
      </section>
    </footer>
  </div>
  <div class="sticky-container">
    <div class="dropstart">
        <button class="btn btn-light ratio ratio-1x1 rounded-5 overflow-hidden move" type="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px; height: 50px;"
            id="btn-social-media">
            <div id="carouselExampleSlidesOnly" class="carousel carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="{% static 'main/images/icons/redes_sociais/Instagram Round Green Logo.svg' %}" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'main/images/icons/redes_sociais/Twitter Round Green Logo.svg' %}" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'main/images/icons/redes_sociais/YouTube Round Green Logo.svg' %}" class="d-block w-100">
                    </div>
                </div>
            </div>
        </button>
        <ul class="dropdown-menu" id="dropdown-menu">
            <li><a class="dropdown-item" href="#">Facebook</a></li>
            <li><a class="dropdown-item" href="#">Instagram</a></li>
            <li><a class="dropdown-item" href="#">Twitter</a></li>
        </ul>
    </div>
  </div>

 <script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnSocialMedia = document.getElementById("btn-social-media");
        var dropdownMenu = document.getElementById("dropdown-menu");

        btnSocialMedia.addEventListener("click", function () {
            if (dropdownMenu.classList.contains("show")) {
                btnSocialMedia.classList.remove("move");
            } else {
                btnSocialMedia.classList.add("move");
            }
        });
    });
</script>
  {% block more_script %}{% endblock %}
</body>

</html>