{% extends "main/base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ post.headline }}" />
<meta property="og:image" content="{{ post.big_image.url }}" />
<meta property="og:url" content="" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="" />
<meta name="twitter:description" content="{{ post.headline }}" />
<meta name="twitter:image" content="{{ post.big_image.url }}" />
{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center my-5 py-5">
  <article>
    <section class="post_details">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10 mt-3 text-center">
          <h1 class="display-4">
            <strong>{{ post.title }}</strong>
          </h1>
          <p class="fs-4 text-center mb-1">
            <em>{{ post.headline }}</em>
          </p>
          <small>
            Postado em {{ post.creation_date }} 
            {% if post.last_modification > post.creation_date %}
            |&nbsp;
            Editado em {{ post.last_modification }}
            {% endif %}
            {% if post.autor %}
            |&nbsp;
            Autor: {{ post.autor }}
            {% endif %}
            <br>
            {% if post.categories.count == 1 %}
            Categoria:&nbsp;
            {% else %}
            Categorias:&nbsp;
            {% endif %}
            {% for category in post.categories.all %}
            <a class="mute-link categories-link" href="{% url 'blog:categories' category.category %}"
              style="text-decoration: none;">
              {{ category.category }}
            </a>
            {% if not forloop.last %}
            &nbsp;·
            {% endif %}
            {% endfor %}
          </small>

        </div>
        <figure
          class="col-12 col-md-10 col-figure figure container-image d-flex align-items-center justify-content-center ratio-16x9 rounded-5 mt-2 mb-3 overflow-hidden">
          <img src="{{ post.image.url }}" class="img-fluid blog-image" alt='{{ post.image_alt }}' />
          {% if post.image_caption %}
          <figcaption class="figure-caption text-center text-light">
            <em>{{ post.image_caption }}</em>
          </figcaption>
          {% endif %}
        </figure>
        <div class="col-12 col-md-10 fs-5">
          <p>{{ post.body | linebreaks }}</p>
          <div class="text-center text-secondary">
            <small>
              Postado em {{ post.creation_date }} 
              {% if post.last_modification > post.creation_date %}
              |&nbsp;
              Editado em {{ post.last_modification }}
              {% endif %}
              {% if post.autor %}
              |&nbsp;
              Autor: {{ post.autor }}
              {% endif %}
            </small>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
{% endblock %}

