@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
nav {
  background-color: rgba(255, 255, 255, 0.4431372549);
}

.navbar-brand {
  color: #012070;
}
.navbar-brand img {
  width: 50px;
}

.navbar-brand:hover {
  transform: scale(1.025);
}

.nav-link {
  color: #008E40;
  font-size: x-large;
}

.nav-link:hover {
  color: #012070;
}

.dropdown-menu {
  background: linear-gradient(39deg, rgba(255, 255, 255, 0.7098039216) 40%, rgba(98, 182, 136, 0.4117647059) 80%);
}
.dropdown-menu li :hover {
  background-color: #008E40;
  color: white;
}

body {
  height: 100vh;
  background: radial-gradient(circle, #ffffff 0%, rgba(0, 142, 64, 0.1411764706) 100%);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background {
  background-image: url("./Background.svg");
  background-repeat: repeat;
  background-size: 300px;
  flex: 1;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: radial-gradient(circle, #ffffff 0%, rgba(0, 142, 64, 0.1411764706) 100%);
}

::-webkit-scrollbar-thumb {
  background-color: #012070;
  width: 5px;
  height: 5px;
}

.container {
  background-color: rgba(255, 255, 255, 0.6666666667);
  border-radius: 5%;
}

.carousel button svg {
  background-color: rgba(0, 142, 64, 0.6901960784);
  border-radius: 10px;
}
.carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.4392156863);
  backdrop-filter: blur(3px);
}

@media (min-width: 768px) {
  .carousel button svg {
    background-color: rgba(0, 142, 64, 0.6901960784);
  }
  .carousel button svg:hover {
    background-color: #008e40;
  }
}
h1 {
  color: #012070;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500 !important;
}

h2 {
  color: #008E40;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300 !important;
}

.main-logo {
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.hyphenate {
  hyphens: auto;
  hyphenate-character: "-";
  hyphenate-limit-chars: 4;
}

footer {
  background-color: rgba(0, 0, 0, 0.6901960784);
  color: #ffffff;
  padding-bottom: 15vh;
}
footer h4 {
  color: #c3fbdc;
}

footer a {
  color: white;
}

.sponsor-img-block small {
  font-size: 0.7rem;
}

.sponsor-img {
  width: 20px;
}

.invert-color {
  filter: invert(100%);
}

.vertical-line {
  border-left: 1px solid #012070;
  height: 9vw;
  left: 50%;
}

.card {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.card img {
  object-fit: contain;
}
.card .card-title {
  color: #012070;
  transform: translateZ(30px);
}
.card .card-body {
  transform: translateZ(30px);
}
.card .card-body a {
  text-decoration: none;
}
.card .card-body a b {
  color: #008E40 !important;
}
.card .card-body a b:hover {
  color: #012070 !important;
}

.container-Image {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4392156863);
}

#big_image {
  object-fit: contain;
}

.box-cursos {
  height: 40rem;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .box-cursos {
    height: 40rem;
    overflow-y: visible;
    overflow-x: scroll;
  }
  .card-cursos {
    max-width: 20rem;
    min-width: 20rem;
  }
}
.detalhes-evento {
  background-color: rgba(0, 255, 153, 0.18);
}

#print-icon {
  cursor: pointer;
}

.breadcrumb-item a {
  color: #008E40;
}

.categories-link {
  color: #008E40;
}
.categories-link:hover {
  color: #012070;
}

.container-image {
  background-color: rgba(0, 0, 0, 0.4392156863);
}

.blog-image {
  object-fit: contain;
}

.leave-comment {
  background-color: rgba(47, 79, 79, 0.3058823529);
  border-radius: 15px;
}

.comment ::first-letter {
  text-transform: capitalize;
}

#btn-social-media {
  transition: bottom 1s ease-in-out, transform 0.2s ease-in-out, opacity 0.5s ease-in-out;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 9999;
}

#btn-social-media.move {
  animation: btn-social-media-anim 10s infinite;
}

@keyframes btn-social-media-anim {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-10px) translateY(0);
  }
  50% {
    transform: translateX(0) translateY(-10px);
  }
  75% {
    transform: translateX(10px) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.sticky-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  z-index: 999;
}

.dropdown-menu {
  min-width: 100px;
}