.card {
    transform-style: preserve-3d;
    transform: perspective(1000px);

    img {
        object-fit: contain;
    }

    .card-title {
        color: $color1;
        transform: translateZ(30px);
    }

    .card-body {
        transform: translateZ(30px);

        a {
            text-decoration: none;

            b {
                color: $color2 !important;

                &:hover {
                    color: $color1 !important;
                }
            }
        }
    }
}