footer {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding-bottom: 15vh;
  h4 {
    color: $color1;
  }
}
footer a {
  color: white;
}

.tech-icon {
  width: 20px;
}
.invert-color {
  filter: invert(100%);
}
.vertical-line {
  border-left: 1px solid $color1;
  height: 9vw;
  left: 50%;
}
