footer {
  background-color: #000000b0;
  color: #ffffff;
  padding-bottom: 15vh;

  a {
    color: white;
  }

  h4 {
    color: #c3fbdc;
  }

  .sponsor-img {
    width: 90px;
  }

  .sponsor-img-block small {
    font-size: 0.7rem;
  }

}

.invert-color {
  filter: invert(100%);
}

.vertical-line {
  border-left: 1px solid $color1;
  height: 9vw;
  left: 50%;
}