.navbar-brand img {
  width: 50px;
}
.navbar-brand:hover {
  transform: scale(1.025);
}
.nav-link {
  color: $color2;
  font-size: x-large;
}
nav {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-link:hover {
  color: $color1;
}
