{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Inscrição · {{ evento.titulo }}
{% endblock %}
{% block metatags %}
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center my-5 p-2 p-md-5">
    <div class="col-12 col-lg-7">
        <h1 class="display-5 m-0">Comprovante de Inscrição</h1>
        <h2>Evento: {{ evento.titulo }}</h2>
        <div class="col-12 detalhes-evento mb-3">
            <p class="mb-1">Data: <time>{{ evento.data_hora }}</time></p>
            <p class="mb-1">Local: {{ evento.local }}</p>
            {% if evento.carga_horaria != 0 %}
            <p class="mb-1">Carga horária: {{ evento.carga_horaria }} horas <b class="text-danger">(Isto não vale como
                    certificado)</b></p>
            {% else %}
            <!-- Não faz nada -->
            {% endif %}
            {% if evento.mensagem_comprovante %}
            <p class="mb-1 bold"><b>{{ evento.mensagem_comprovante }}</b></p>
            {% endif %}
        </div>
        <div class="col">
            <h2>Dados do Inscrito:</h2>
            <p class="mb-1">Nome: {{ inscrito.nome }}</p>
            <p class="mb-1">
                Nº Inscrição:
                {% if inscrito.numero_inscricao < 10 %}
                000{{ inscrito.numero_inscricao }}
                {% elif inscrito.numero_inscricao > 100 %}
                0{{ inscrito.numero_inscricao }}
                {% else %}
                00{{ inscrito.numero_inscricao }}
                {% endif %}
            </p>
            <p class="mb-1">Data da Inscrição: <time>{{ inscrito.data_hora_inscricao }}</time></p>
            {% if inscrito.curso %}
            <p class="mb-1">Cursando {{ inscrito.curso }} em {{ inscrito.instituicao }}</p>
            {% endif %}
            <div class="d-flex justify-content-evenly">
                <button class="btn btn-success my-3" onclick="shareOnWhatsApp()">Compartilhar</button>
                <button class="btn btn-danger my-3" onclick="cancelInscription()">Cancelar Inscrição</button>
            </div>
        </div>
    </div>
</div>
<div class="col-12 d-flex justify-content-center">      
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item d-flex justify-content-center">
                <a href="{% url 'main:eventos' %}" class="text-decoration-none">Eventos</a>
            </li>
            <li class="breadcrumb-item d-flex justify-content-center">
                <a href="{% url 'main:detalhes_eventos' evento.slug %}" class="text-decoration-none">{{ evento.titulo }}</a>
            </li>
            <li class="breadcrumb-item d-flex justify-content-center">
                <a href="{% url 'main:inscricao' evento_slug=evento.slug %}" class="text-decoration-none">Inscrição</a>
            </li>
            <li class="breadcrumb-item d-flex justify-content-center">
                <a class="text-decoration-none">Comprovante de Inscrição</a>
            </li>
        </ol>
    </nav>
  </div>
{% endblock %}

{% block more_script %}
<script>
    function shareOnWhatsApp() {
        var currentUrl = window.location.href;
        var whatsappUrl = 'https://api.whatsapp.com/send?text=' + encodeURIComponent(currentUrl);
        window.open(whatsappUrl, '_blank');
    }

    function cancelInscription() {
        const subject = encodeURIComponent("Solicitação de Cancelamento de Inscrição em Evento");
        const body = encodeURIComponent("Solicito o cancelamento de minha inscrição no evento: {{ evento.titulo }}\nNome: {{ inscrito.nome }}\nNúmero de Inscrição: {{ inscrito.numero_inscricao }}");
        const mailtoLink = `mailto:lavib.pa@gmail.com?subject=${subject}&body=${body}`;
        window.location.href = mailtoLink;
    }
</script>
{% endblock %}