{% extends 'main/base.html' %}
{% load static %}

{% block title %}
LAVIB-PA · {{ object.titulo }}
{% endblock %}

{% block meta_titulo_og %}LAVIB-PA · {{ object.titulo }}{% endblock meta_titulo_og %}
{% block meta_descricao_og %}Saiba mais sobre o evento "{{ object.titulo }}"{% endblock meta_descricao_og %}
{% block meta_titulo_twt %}LAVIB-PA · {{ object.titulo }}{% endblock meta_titulo_twt %}
{% block meta_descricao_twt %}Saiba mais sobre o evento "{{ object.titulo }}"{% endblock meta_descricao_twt %}
{% block meta_descricao %}Saiba mais sobre o evento "{{ object.titulo }}"{% endblock meta_descricao %}
{% block og_url %}{% url 'main:detalhes_eventos' object.slug %}{% endblock og_url %}
{% block twt_url %}{% url 'main:detalhes_eventos' object.slug %}{% endblock twt_url %}
{% block canonical %}{% url 'main:detalhes_eventos' object.slug %}{% endblock canonical %}
{% block meta_images %}
<meta property="og:image" content="https://lavib.pythonanywhere.com{{ object.imagem.url }}" />
<meta name="twitter:image" content="https://lavib.pythonanywhere.com{{ object.imagem.url }}" />
<meta property="og:type" content="website" />
{% endblock meta_images %}

{% block content %}
<article>
  <div class="row justify-content-center px-1 px-md-5 py-3 mt-5">
    <div class="col-12 text-center">
      <h1 class="display-1" id="subtitle">{{ object.titulo }}</h1>
      <h2 class="display-5">{{ object.descricao_curta }}</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center px-1 px-md-5 mb-5">
    <figure
      class="col-12 col-md-6 container-Image d-flex align-items-center justify-content-center ratio ratio-16x9 rounded-5 p-1">
      <img src="{{ object.imagem.url }}" class="img-fluid" id="big_image" alt='Convite para {{ object.titulo }}' />
    </figure>
    <div class="col-12 my-5">
      <p class="fs-5" style="text-align: justify;">{{ object.descricao | linebreaks }}</p>

      <hr>

      {% if object.cursos.all.exists %}
      <h2>Cursos</h2>
      <div class="card-group box-cursos flex-nowrap">
        {% for curso in object.cursos.all %}
        <div class="card card-cursos my-2 me-2">
          <div class="ratio ratio-1x1 bg-secondary-subtle">
            <img src="{{ curso.imagem.url }}" class="card-img-top object-fit-contain"
              alt='Imagem de divulgação do curso: "{{ curso.nome }}"'>
          </div>
          <div class="card-body">
            <h3 class="card-title mb-2">{{ curso.nome }}</h3>
            <p class="card-text mb-1">{{ curso.descricao }}</p>
            {% if curso.professor %}
            <p class="card-text mb-0">Professor: {{ curso.professor }}</p>
            {% endif %}
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p class="card-text mb-0">Valor: R$ {{ curso.valor }}</p>
            <p class="card-text mb-0">{{ curso.vagas }} vagas</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <hr>

      {% endif %}
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8 d-flex flex-column align-items-center">
        <h2 class="text-center lead fs-4">Detalhes do Evento</h2>
        <table class="table table-success table-bordered table-hover fs-5">
          <tr class="table-active">
            <th>Evento:</th>
            <td>{{ object.titulo }}</td>
          </tr>
          <tr>
            <th>Data de início:</th>
            <td><time>{{ object.data_hora|date:"d/m/Y H:i" }}</time></td>
          </tr>
          <tr>
            <th>Data de fim:</th>
            <td><time>{{ object.data_hora_final|date:"d/m/Y H:i" }}</time></td>
          </tr>
          <tr>
            <th>Local:</th>
            <td>{{ object.local }}</td>
          </tr>
          <tr>
            <th>Valor:</th>
            <td>{% if object.valor == 0 %}<b class="text-success">GRÁTIS!</b>{% else %}R$ {{ object.valor }}{% endif %}
            </td>
          </tr>
          {% if object.convidados %}
          <tr>
            <th>Convidado(s):</th>
            <td>{{ object.convidados }}</td>
          </tr>
          {% endif %}
          {% if object.carga_horaria %}
          <tr>
            <th>Carga horária:</th>
            <td>{{ object.carga_horaria }}</td>
          </tr>
          {% endif %}
        </table>
        <div class="col-12 col-md-10">
          <h4 id="lotacao-title">Lotação do Evento:</h4>
          <div class="progress" role="progressbar" aria-label="Lotação do Evento:" aria-valuenow="{{ porcentagem }}"
            aria-valuemin="0" aria-valuemax="100" id="lotacao">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated bg-{% if porcentagem == 100 %}danger{% elif porcentagem >= 76 %}danger{% elif porcentagem >= 51 %}warning{% elif porcentagem >= 26 %}info{% elif porcentagem >= 0 %}success{% endif %}"
              style="width: {{ porcentagem }}%" id="lotacao-progress-bar">{{ porcentagem }}%</div>
          </div>
        </div>
        {% if object.vagas_restantes == -1 %}
        <p class="fs-5"><b class="text-success">VAGAS ILIMITADAS!</b>
          {% elif object.vagas_restantes == 0 %}
        <p class="fs-5"><b class="text-danger">VAGAS ESGOTADAS!</b>
          {% else %}
        <p class="fs-5">Vagas restantes: {{ object.vagas_restantes }}</p>
        {% endif %}
        <div class="col-12 d-flex justify-content-center mt-5">
          {% if object.vagas_restantes == -1 or object.vagas_restantes > 0 %}
          <a href="{% url 'main:inscricao' evento_slug=object.slug %}" class="btn btn-lg btn-success">INSCREVA-SE
            AQUI</a>
          {% else %}
          <button href="#" class="btn btn-lg btn-danger" disabled>VAGAS ESGOTADAS</button>
          {% endif %}
        </div>
      </div>
    </div>
</article>
<div class="col-12 d-flex justify-content-center">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'main:eventos' %}" class="text-decoration-none">Eventos</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'main:detalhes_eventos' object.slug %}" class="text-decoration-none">{{ object.titulo }}</a>
      </li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block more_script %}
<script>
  window.onload = function () {
    setTimeout(function () {
      if (document.getElementById('lotacao').getAttribute('aria-valuenow') == '100') {
        document.getElementById('lotacao').classList.add('d-none');
        document.getElementById('lotacao-title').innerHTML = 'Evento lotado!';
        document.getElementById('lotacao-title').classList.add('text-center');
        document.getElementById('lotacao-title').classList.add('text-danger');
        document.getElementById('lotacao-title').classList.add('display-5');
      }
    }, 5000);
  };
</script>
{% endblock more_script %}